body {
    font-family: cursive;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
}

.box {
    border-bottom: 0.5px solid black;
    border-right: 0.5px solid black;
    flex: 1;
    min-height: 139px;
    text-align: center;
}

.row:nth-child(4) .box {
    border-bottom: 0;
}

.box:nth-child(3) {
    border-right: 0;
}

.box:hover {
    transition: 0.5s background-color;
    background-color: rgb(192, 190, 190);
}

.tag {
    font-size: 100px;
}
.tagX {
    color: black;
}
.tagO {
    color: rgb(185, 24, 24);
}

#scoreboard {
    margin-top: 6%;
    text-align: center;
}

.scoretext {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    color: black;
}

#player1 {
    float: left;
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
}

#player2 {
    float: right;
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
}

#gameendtext {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-45%);
    z-index: 999;
    color: white;
    font-size: 80px;
}

@media (max-width: 600px){
    #gameendtext {
        font-size: 30px;
    }
}